/* FONTS IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* COLORS */
:root {
  --color-primary: #ed1c24;
  --color-neutral-900: #000000;
  --color-neutral-800: #13151b;
  --color-neutral-700: #1f212c;
  --color-neutral-600: #454545;
  --color-neutral-500: #b3b1b1;
  --color-neutral-400: #e0e0e0;
  --color-neutral-300: #f4f4f4;
  --color-neutral-200: #efecf0;
  --color-neutral-100: #ffffff;
}

body {
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-800);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.container {
  padding-inline: 1rem;
  max-width: 1450px;
  margin-inline: auto;
}

.block-scroll {
  overflow: hidden;
}

.logo {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-neutral-200);
}

.btn--secondary {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-800);
}

.btn--tertiary {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-100);
}

.btn::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transition: 0.4s ease-in-out;
  width: 100%;
  z-index: -1;
}

.btn:hover::after {
  top: 0;
}

.btn--primary::after {
  background-color: var(--color-neutral-200);
}

.btn--secondary::after {
  background-color: var(--color-neutral-800);
}

.btn--tertiary::after {
  background-color: var(--color-neutral-100);
}

.btn--primary:hover {
  color: var(--color-primary);
}

.btn--secondary:hover {
  color: var(--color-neutral-200);
}

.btn--tertiary:hover {
  color: var(--color-neutral-800);
}

@media (max-width: 750px) {
  .container {
    padding-inline: 0.5rem;
  }
}
