.main {
  position: relative;
  margin-bottom: 10rem;
}

.header {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 1rem;
}

.image {
  filter: brightness(.7);
  max-height: 30rem;
  object-fit: cover;
  width: 100%;
}

.headerBox {
  background-color: var(--color-neutral-200);
  padding: 5rem 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.categories {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--color-neutral-500);
  cursor: pointer;
  font-weight: 500;
  padding: 0.25rem;
  transition: 0.3s ease-in-out;
}

.category:disabled {
  cursor: auto;
}

.category.active {
  border-bottom: 1px solid var(--color-neutral-800);
  color: var(--color-neutral-800);
}

.slider {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.cardMore {
  align-items: end;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  flex: 1 0 100%;
  height: 24.25rem;
  padding: 3rem 1rem;
  position: relative;
  max-width: 17rem;
  text-decoration: none;
}

.arrow {
  align-items: center;
  background-color: var(--color-neutral-100);
  border: none;
  color: var(--color-neutral-800);
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  height: 2.25rem;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 2.25rem;
}

.arrow:hover {
  opacity: 1;
}

.arrowLeft,
.arrowRight {
  bottom: 13.5rem;
}

.arrowLeft {
  left: 1.5rem;
}

.arrowRight {
  right: 1.5rem;
}

.arrowMore {
  bottom: 1rem;
  right: 1rem;
}

@media (max-width: 850px) {
  .main {
    margin-bottom: 5rem;
  }

  .header {
    grid-template-columns: 1fr;
    position: relative;
  }

  .headerBox {
    background-color: transparent;
    bottom: 1rem;
    color: var(--color-neutral-200);
    left: 1rem;
    padding: 0;
    position: absolute;
  }

  .title {
    margin-bottom: 1rem;
  }

  .arrow {
    display: none;
  }
}
