.main {
  position: relative;
  margin-bottom: 10rem;
}

.header {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 1rem;
}

.image {
  filter: brightness(0.7);
  max-height: 30rem;
  object-fit: cover;
  width: 100%;
}

.headerBox {
  background-color: var(--color-neutral-200);
  padding: 5rem 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.categories {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--color-neutral-500);
  cursor: pointer;
  font-weight: 500;
  padding: 0.25rem;
  transition: 0.3s ease-in-out;
}

.category:disabled {
  cursor: auto;
}

.category.active {
  border-bottom: 1px solid var(--color-neutral-800);
  color: var(--color-neutral-800);
}

@media (max-width: 850px) {
  .main {
    margin-bottom: 5rem;
  }

  .header {
    grid-template-columns: 1fr;
    position: relative;
  }

  .headerBox {
    background-color: transparent;
    bottom: 1rem;
    color: var(--color-neutral-200);
    left: 1rem;
    padding: 0;
    position: absolute;
  }

  .title {
    margin-bottom: 1rem;
  }
}
