.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 0.5rem;
  justify-items: center;
}

.navigation {
  font-size: 0.9rem;
  font-weight: 500;
  padding-block: 1.5rem;
}

.list {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.item {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  text-transform: capitalize;
}

.item:last-child {
  color: var(--color-primary);
}

.item svg {
  font-size: 0.75rem;
}

.navigation a {
  color: var(--color-neutral-800);
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.quantity {
  color: var(--color-neutral-600);
  font-size: 0.9rem;
}

.wrapper {
  align-items: start;
  display: grid;
  gap: 5rem;
  grid-template-columns: auto 1fr;
  position: relative;
  margin-bottom: 10rem;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
}

.sideList {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sideItem {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 400;
  padding-left: 1rem;
}

.dropdownLink {
  color: var(--color-neutral-800);
  font-size: 0.9rem;
  text-decoration: none;
}

.dropdownLinkSale {
  color: var(--color-primary);
}

.dropdownLink:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .sidebar {
    position: static;
  }

  .sideItem {
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: scroll;
    padding-bottom: 0.5rem;
    width: 95vw;
  }

  .dropdown {
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 0;
  }

  .dropdownLink {
    border: 1px solid var(--color-neutral-500);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    text-wrap: nowrap;
  }

  .dropdownLinkSale {
    border-color: var(--color-primary);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
