.header {
  background-color: var(--color-neutral-300);
  border-bottom: 1px solid var(--color-neutral-400);
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.wrapper {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr 1fr auto;
}

.search {
  align-items: center;
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-600);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
  padding: 0.5rem;
}

.search svg {
  font-size: 1.75rem;
}

.search:hover {
  filter: brightness(0.96);
}

.iconBtn.searchClose {
  display: none;
}

.iconBtn.searchIcon {
  display: none;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--color-neutral-800);
  font-size: 0.9rem;
  width: 100%;
}

.input:focus {
  outline: none;
}

.icons {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  gap: 1rem;
  justify-self: end;
}

.iconBtn {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-neutral-800);
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  height: 1.75rem;
  position: relative;
  text-decoration: none;
}

.iconName{
  font-size: 0.9rem;
  font-weight: 500;
}

.iconBtn:hover .iconName {
  text-decoration: underline;
}

.quantity {
  align-items: center;
  background-color: var(--color-neutral-800);
  border-radius: 50%;
  color: var(--color-neutral-100);
  display: flex;
  font-size: .7rem;
  height: 1rem;
  justify-content: center;
  position: absolute;
  left: 1rem;
  top: 0;
  width: 1rem;
}

.list {
  align-items: center;
  display: flex;
}

.item {
  border-bottom: 4px solid transparent;
  cursor: default;
  font-weight: 500;
  padding-inline: 1rem;
  padding-block: 1.45rem;
}

.itemSale {
  color: var(--color-primary);
}

.item.itemSale:hover {
  border-color: var(--color-primary);
}

.item:hover {
  border-bottom: 4px solid var(--color-neutral-800);
}

.link {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  background-color: var(--color-neutral-300);
  border-bottom: 1px solid var(--color-neutral-400);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: -100%;
  padding: 2rem;
  position: absolute;
  top: 4.25rem;
  width: 100%;
  z-index: 10;
}

.item:hover .dropdown {
  left: 0;
}

.item:hover body {
  overflow: hidden;
}

.dropdownLink {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.dropdownLink:hover {
  text-decoration: underline;
}

.dropdownLinkSale {
  color: var(--color-primary);
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 1.5rem;
}

.bar {
  background-color: var(--color-neutral-800);
  width: 100%;
  height: 0.1rem;
  display: block;
  margin: 0.45rem;
  transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.55rem) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.55rem) rotate(-45deg);
}

@media (max-width: 850px) {
  .header {
    padding: 0.5rem;
  }

  .wrapper {
    margin-bottom: 0;
    grid-template-columns: 40px 1fr 1fr;
  }

  .searchForm {
    width: 100%;
  }

  .search {
    background-color: var(--color-neutral-300);
    border: none;
    border-bottom: 1px solid var(--color-neutral-400);
    display: grid;
    grid-template-columns: auto 1fr auto;
    left: 0;
    padding: 0.7rem;
    position: absolute;
    top: -100%;
    transition: 0.5s ease-in-out;
    width: 100%;
    z-index: 10;
  }
  
  .search:focus-within {
    border: none;
    border-bottom: 1px solid var(--color-neutral-400);
  }

  .search:hover {
    filter: brightness(1);
  }

  .search.active {
    top: 0;
  }

  .iconName {
    display: none;
  }

  .iconBtn.searchClose {
    display: block;
  }

  .iconBtn.searchIcon {
    display: block;
  }

  .icons {
    gap: 0.75rem;
  }

  .nav.active {
    left: 0;
  }

  .nav {
    background-color: var(--color-neutral-300);
    height: calc(100dvh - 3.0625rem);
    left: -100%;
    padding: 1rem;
    position: absolute;
    top: 3.0625rem;
    transition: 0.5s ease-in-out;
    overflow: hidden scroll;
    width: 100%;
    z-index: 10;
  }

  .list {
    align-items: stretch;
    flex-direction: column;
    gap: 1.5rem;
  }

  .item {
    border-bottom: none;
    padding-inline: 1rem;
    padding-block: 0;
  }

  .item:hover {
    border-bottom: none;
  }

  .link {
    font-size: 1.2rem;
  }

  .link::after {
    display: none;
  }

  .dropdown {
    border-bottom: none;
    gap: 1rem;
    height: auto;
    padding: 0.5rem 0 0 2rem;
    position: static;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
}
