.hero {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 4.2rem);
  justify-content: center;
  position: relative;
  margin-bottom: 7rem;
}

.header {
  font-size: 9rem;
  line-height: 0.75;
  letter-spacing: 1rem;
}

.subheader {
  font-size: 2rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
}

.img {
  filter: brightness(.7);
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (max-width: 850px) {
  .hero {
    height: calc(100vh - 3.1rem);   
  }

  .header {
    font-size: 5.5rem;
  }

  .subheader {
    font-size: 1.5rem;
    letter-spacing: .55rem;
  }
}